body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.background-container {
    container-type: size;
    top: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#bun-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* https://odland.dev/2023/02/26/cropping-images-with-css-while-keeping-a-focal-point-in-the-center.html */
    /* --crop-focus-x: 0.5;
    --crop-focus-y: 0.4; */
    --container-width: 100cqw;
    --container-height: 100cqh;
    --image-width: calc(var(--container-width) - 100%);
    --image-height: calc(var(--container-height) - 100%);
    object-position: clamp(100%,
            0.5 * var(--container-width) - var(--crop-focus-x) * var(--image-width),
            0%) clamp(100%, 0.5 * var(--container-height) - var(--crop-focus-y) * var(--image-height), 0%);
}

.center {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    font-size: 5rem;
}

/*
Prevent time from being wrapped
https://stackoverflow.com/a/10104013/6335363
*/
span.no-wrap {
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
